*.o
C++_hands_on_programming_RC/bazel-bin
C++_hands_on_programming_RC/bazel-C++_hands_on_programming_RC
C++_hands_on_programming_RC/bazel-out
C++_hands_on_programming_RC/.vscode/settings.json
C++_hands_on_programming_RC/Brainstorm
C++_hands_on_programming_RC/bazel-testlogs
C++_hands_on_programming_RC/.vscode/launch.json
C_hands_on_programming_2/ipc_receivefile
C_hands_on_programming_2/ipc_sendfile
C++_hands_on_programming_RC/output/ipc_receivefile
C++_hands_on_programming_RC/output/ipc_sendfile
.gitignore
.vscode/launch.json
.gitignore
C++_hands_on_programming_RC/output/test.log
.vscode/settings.json
C++_hands_on_programming_RC/build_and_run_tests without cleaning.sh
C_hands_on_programming_2/ipc_sendfile
C_hands_on_programming_2/ipc_receivefile
.vscode/task.json
.vscode/tasks.json
.vscode
C++_hands_on_programming_RC/sample.txt
C++_hands_on_programming_RC/test.txt
C++_hands_on_programming_RC/test2.txt
C++_hands_on_programming_NEW/output/ipc_receivefile
C++_hands_on_programming_NEW/output/ipc_sendfile
C++_hands_on_programming_NEW/output/test.log
C++_hands_on_programming_NEW/sample.txt
C++_hands_on_programming_NEW/test
C++_hands_on_programming_NEW/binfile
C++_hands_on_programming_NEW/build_and_run_multiple_tests.sh
C++_hands_on_programming_NEW/bazel-bin
C++_hands_on_programming_NEW/bazel-out
C++_hands_on_programming_NEW/bazel-C++_hands_on_programming_NEW
C++_hands_on_programming_NEW/bazel-testlogs
C++_hands_on_programming_NEW/binfile
