*.o
C++_hands_on_programming_RC/bazel-bin
C++_hands_on_programming_RC/bazel-C++_hands_on_programming_RC
C++_hands_on_programming_RC/bazel-out
C++_hands_on_programming_RC/.vscode/settings.json
C++_hands_on_programming_RC/Brainstorm
C++_hands_on_programming_RC/bazel-testlogs
C++_hands_on_programming_RC/.vscode/launch.json
C_hands_on_programming_2/ipc_receivefile
C_hands_on_programming_2/ipc_sendfile
.vscode/launch.json
.vscode/settings.json
C++_hands_on_programming_RC/output/ipc_receivefile
C++_hands_on_programming_RC/output/ipc_sendfile
C++_hands_on_programming_RC/output/test.log
C++_hands_on_programming_RC/build_and_run_tests without cleaning.sh
C++_hands_on_programming_RC/build_and_run_tests_without_cleaning.sh
